@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";
.main {
  margin-left: 110px;
}

@media screen and (max-width: 1024px) {
  .main {
    margin-left: 0;
  }
}

.aside {
  background: var(--body-color);
  width: 110px;
  min-height: 100vh;
  z-index: 10;
  border-right: 1px solid #0000000d;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  transition: all .3s;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.nav_list {
  flex-direction: column;
  row-gap: 1rem;
  display: flex;
}

.nav_link {
  font-size: 1.345rem;
  font-weight: var(--font-bold);
  margin-top: 1rem;
  transition: all .3s;
}

.active-link, .nav_link:hover {
  color: #ffd15c;
}

.copyright {
  color: #43424c;
  font-size: var(--small-font-size);
  writing-mode: vertical-rl;
  font-weight: 600;
  transform: rotate(-180deg);
}

.nav_toggle {
  cursor: pointer;
  height: 40px;
  width: 45px;
  background-color: var(--body-color);
  z-index: 1;
  border: 1px solid #e8dfec;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  display: none;
  position: fixed;
  top: 1.25rem;
  left: 1.875rem;
}

.icon-menu {
  padding-top: .3rem;
  font-size: 25px;
}

@media screen and (max-width: 1024px) {
  .aside {
    left: -110px;
  }

  .nav_toggle {
    display: flex;
  }

  .nav_toggle-open {
    left: 140px;
  }

  .show-menu {
    left: 0;
  }
}

.home {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.intro {
  max-width: 540px;
  text-align: center;
  z-index: 1;
}

.home_img {
  width: 250px;
  border-radius: 10px;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.home_name {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: .5rem;
}

.home_socials {
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin: .5rem;
  display: flex;
}

.home_socials i:hover {
  transform: scale(1.5);
}

.home_education {
  font-size: 20px;
  font-weight: 600;
}

.home-role-tagline {
  margin: 5px 0 0;
  font-size: 18px;
}

.home_social-link {
  color: var(--title-color);
  font-size: 1rem;
  transition: all .3s;
}

.home_social-link:hover {
  color: #ffd15c;
}

.scroll_down {
  width: 100%;
  position: absolute;
  bottom: 2.5rem;
  left: 0;
}

.btn {
  margin-bottom: 4.5rem;
}

.home_scroll-name {
  font-size: var(--small-font-size);
}

.mouse {
  border: 2px solid var(--text-color);
  height: 1.6rem;
  width: 1.25rem;
  border-radius: 1rem;
  margin: auto;
  display: block;
  position: relative;
}

@keyframes ani-mouse {
  0% {
    top: 29%;
  }

  15% {
    top: 50%;
  }

  50% {
    top: 50%;
  }

  100% {
    top: 29%;
  }
}

.wheel {
  background-color: var(--title-color);
  width: .25rem;
  height: .25rem;
  border-radius: 100%;
  animation: 2s linear infinite ani-mouse;
  position: absolute;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
}

.shapes {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.shape {
  position: absolute;
}

.s1 {
  top: 10%;
  left: 2%;
}

.s2 {
  top: 30%;
  left: 18%;
}

.s3 {
  bottom: 30%;
  left: 5%;
}

.s4 {
  bottom: 10%;
  left: 2%;
}

.s5 {
  top: 5%;
  left: 44%;
}

.s6 {
  bottom: 10%;
  left: 36%;
}

.s7 {
  top: 20%;
  right: 25%;
}

.s8 {
  bottom: 20%;
  right: 24%;
}

.s9 {
  top: 10%;
  right: 2%;
}

.s10 {
  top: 45%;
  right: 11%;
}

.s11 {
  bottom: 10%;
  right: 2%;
}

@media screen and (max-width: 1024px) {
  .home_social-link {
    font-size: 1.125rem;
  }
}

.about_img {
  width: 400px;
  height: 520px;
  background-color: var(--container-color);
  border-radius: 10px;
}

.about_container {
  grid-template-columns: 3fr 6fr;
  column-gap: 1.875rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.about_info, .about_skills {
  padding: 1rem;
}

.about_data {
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  column-gap: 1.575rem;
  padding: 1.5rem;
  position: relative;
}

.about_data:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid #0000;
  border-bottom: 10px solid #0000;
  border-right: 15px solid var(--container-color);
  position: absolute;
  top: 20%;
  left: -.93rem;
}

.about_description {
  text-align: justify;
  margin-bottom: 1rem;
}

.about_skills {
  row-gap: 1.25rem;
  margin-top: .3rem;
}

.skills_titles {
  justify-content: space-between;
  margin-bottom: 1rem;
  display: flex;
}

.skills_name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills_number {
  line-height: 1.2;
}

.skills_bar, .skills_percentage {
  height: 7px;
  border-radius: .25rem;
}

.skills_bar {
  background-color: #f1f1f1;
}

.skills_percentage {
  background-color: var(--first-color);
  display: flex;
}

.html {
  width: 95%;
  background-color: #ffd15c;
}

.css {
  width: 80%;
  background-color: #ff4c60;
}

.javascript {
  width: 90%;
  background-color: #4db5ff;
}

.bootstrap {
  width: 85%;
  background-color: #2c2c6c;
}

.react {
  width: 85%;
  background-color: #7cfc00;
}

.about_boxes {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.875rem;
  margin-top: 4.5rem;
}

.about_box {
  column-gap: 1.5rem;
  display: flex;
}

.about_icon {
  font-size: var(--h1-font-size);
  color: #dedeea;
}

.about_title {
  font-size: 1.875rem;
}

@media screen and (max-width: 1024px) {
  .about_container {
    grid-template-columns: 720px;
    justify-content: center;
    row-gap: 1.875rem;
  }

  .about_data:before {
    border-bottom: 10px solid #fff;
    border-left: 10px solid #0000;
    border-right: 10px solid #0000;
    top: -20px;
    left: 49%;
  }

  .about_img {
    justify-self: center;
  }

  .about_box {
    text-align: center;
    flex-direction: column;
    row-gap: .5rem;
  }
}

@media screen and (max-width: 768px) {
  .about_container {
    grid-template-columns: 350px;
  }

  .about_data:before {
    left: 47%;
  }

  .about_data {
    grid-template-columns: 1fr;
    row-gap: 1.875rem;
  }

  .about_boxes {
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    row-gap: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .about_container {
    grid-template-columns: 320px;
  }
}

@media screen and (max-width: 350px) {
  .about_container, .about_boxes {
    grid-template-columns: 1fr;
  }
}

.services_container {
  max-width: 700px;
  column-gap: 1.875rem;
  margin: auto;
}

.services_card {
  text-align: center;
  border-radius: var(--border-radius);
  background-color: var(--container-color);
  padding: 1.875rem;
  transition: all .3s ease-in-out;
}

.services_card:hover {
  transform: translateY(-10px);
}

.services_card:nth-child(1) {
  box-shadow: 0px 5px 20px 0px rgb(255, 86, 96 / -50%);
  background-color: #eaa9adf7;
}

.services_card:nth-child(2) {
  box-shadow: 0px 5px 20px 0px rgb(249, 215, 76 / -50%);
  background-color: #f9d74c;
}

.services_img {
  margin-bottom: 1.25rem;
}

.services_title {
  font-weight: 600;
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.services_card:nth-child(2) .services_title {
  color: var(--title-color);
}

.services_card:nth-child(2) .services_description {
  color: var(--text-color);
}

@media screen and (max-width: 1024px) {
  .services_container {
    grid-template-columns: 1fr;
    justify-content: center;
    row-gap: 1.875rem;
  }

  @media screen and (max-width: 768px) {
    .services_container {
      grid-template-columns: 310px;
    }
  }
}

@media screen and (max-width: 350px) {
  .services_container {
    grid-template-columns: 1fr;
  }
}

.resume_container {
  text-align: justify;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.875rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.timeline {
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 1.875rem;
  position: relative;
}

.timeline_item {
  padding-bottom: 3.125rem;
  padding-left: 3.125rem;
  position: relative;
}

.timeline_item:last-child {
  padding-bottom: 0;
}

.timeline_item:before {
  content: " ";
  width: 1px;
  height: 100%;
  background-color: var(--first-color);
  position: absolute;
  top: 0;
  left: .25rem;
}

.timeline .icon-briefcase, .timeline .icon-graduation {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  background-color: var(--container-color);
  padding: .4375rem 0;
  position: absolute;
  top: 0;
  left: -.4375rem;
}

.timeline_date {
  color: #8b88b1;
  font-size: var(--small-font-size);
}

.timeline_title {
  font-size: var(--h3-font-size);
  margin: .5rem 0;
}

@media screen and (max-width: 1024px) {
  .resume_container {
    grid-template-columns: 450px;
    justify-content: center;
    row-gap: 1.875rem;
  }

  .timeline_item:before {
    left: 2px;
  }

  @media screen and (max-width: 576px) {
    .resume_container {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 350px) {
  .timeline_item {
    padding-bottom: 1.875rem;
    padding-left: 1.875rem;
  }

  .timeline_item:before {
    left: 0;
  }

  .timeline .icon-briefcase, .timeline .icon-graduation {
    left: -9px;
  }

  .timeline_text {
    text-align: justify;
  }
}

.work_filters {
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1.875rem;
  margin-bottom: 2.5rem;
  display: flex;
}

.work_item {
  cursor: pointer;
  font-weight: var(--font-bold);
  transition: all .3s;
}

.work_item:hover {
  color: var(--first-color);
}

.work_container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.work_card {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  position: relative;
  overflow: hidden;
}

.work_mask {
  height: 100%;
  width: 100%;
  opacity: 0;
  background: #6c6ce5;
  transition: all .3s;
  position: absolute;
  top: 0;
  left: 0;
}

.work_card:hover .work_mask {
  opacity: .9;
}

.work_category {
  color: #fff;
  background-color: var(--first-color);
  font-size: var(--small-font-size);
  border-bottom-left-radius: .98rem;
  border-bottom-right-radius: .98rem;
  padding: .19rem .625rem;
  transition: all .3s;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 1.5rem;
  transform: translateY(-40px);
}

.work_title {
  color: #fff;
  font-size: var(--h3-font-size);
  opacity: 0;
  margin: 0 0 .98rem;
  padding: 0 1.25rem;
  transition: all .3s;
  position: absolute;
  top: 3.75rem;
  transform: translateY(30px);
}

.work_button {
  color: #fff;
  font-size: var(--h3-font-size);
  height: 40px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  opacity: 0;
  background-color: #ffd15c;
  border-radius: 50%;
  line-height: 42px;
  transition: all .3s;
  display: block;
  position: absolute;
  bottom: .5rem;
  left: 1.5rem;
}

.work_card:hover .work_button {
  opacity: 1;
}

.work_card:hover .work_title, .work_card:hover .work_category {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 1024px) {
  .work_filters {
    justify-content: center;
  }

  .work_container {
    grid-template-columns: repeat(2, 330px);
    justify-content: center;
    row-gap: 1.875rem;
  }

  @media screen and (max-width: 768px) {
    .work_container {
      grid-template-columns: 310px;
    }

    .work_filters {
      row-gap: .25rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .work_container {
    grid-template-columns: 1fr;
  }
}

.testimonials_container {
  max-width: 700px;
  margin: 0 auto;
}

.section_title {
  text-align: center;
}

.testimonials_item {
  text-align: center;
  padding: 0 1.25rem 1.25rem;
}

.thumb {
  height: 5.6rem;
  width: 5.6rem;
  margin: 0 auto;
}

.client_img {
  border-radius: 10%;
}

.testimonials_title {
  margin-top: .75rem;
  font-weight: 600;
}

.subtitle {
  color: #8b88b1;
  font-size: var(--small-font-size);
  font-weight: 600;
}

.comment {
  background-color: var(--container-color);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  padding: 1.875rem;
  position: relative;
}

.comment:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid #0000;
  border-right: 10px solid #0000;
  border-bottom: 10px solid var(--container-color);
  position: absolute;
  top: -.625rem;
  left: 49.5%;
  transform: translateX(-7.5px);
}

.swiper-pagination-bullet {
  width: .5rem !important;
  height: .5rem !important;
  background-color: var(--first-color) !important;
  opacity: 1 !important;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .2rem !important;
}

.swiper-pagination-bullet-active {
  width: 1.2rem !important;
  height: .375rem !important;
  border-radius: .5rem !important;
}

.contact.section {
  padding-bottom: 6.25rem;
}

.contact_container {
  grid-template-columns: 4fr 8fr;
  column-gap: 1.875rem;
}

.contact_info {
  margin-left: 1rem;
}

.contact_title {
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}

.contact_form {
  margin-right: 1rem;
}

.contact_form-group {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  display: grid;
}

.contact_form-div {
  height: 3.75rem;
  margin-bottom: 1.875rem;
  position: relative;
}

.contact_form-input {
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow);
  background-color: var(--container-color);
  color: var(--text-color);
  border-radius: var(--border-radius);
  z-index: 1;
  border: none;
  outline: none;
  padding: .625rem 1.875rem;
  position: absolute;
  top: 0;
  left: 0;
}

.contact_form-area {
  height: 10.25rem;
}

.contact_form-area textarea {
  resize: none;
}

@media screen and (max-width: 1024px) {
  .contact_container {
    grid-template-columns: 300px 360px;
    justify-content: center;
  }

  .contact_form-group {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: 768px) {
    .contact_container {
      grid-template-columns: 310px;
      row-gap: 1.875rem;
    }
  }

  .contact_info {
    text-align: center;
  }
}

@media screen and (max-width: 350px) {
  .contact_container {
    grid-template-columns: 1fr;
  }
}

.scrollup {
  background-color: var(--title-color);
  opacity: .8;
  z-index: var(--z-tooltip);
  border-radius: .4rem;
  padding: .3rem .5rem;
  transition: all .4s;
  position: fixed;
  bottom: 10%;
  right: 2.5rem;
}

.scrollup_icon {
  color: var(--container-color);
  font-size: 1.5rem;
  animation: .5s infinite alternate scrollTop;
}

.scrollup:hover {
  background-color: var(--text-color);
}

.show-scroll {
  bottom: 3rem;
}

@keyframes scrollup_icon {
  from {
    transform: translateY(2px);
  }

  to {
    transform: translateY(-1px);
  }
}

@media screen and (max-width: 1024px) {
  .scrollup {
    padding: .25rem .4rem;
    right: 1.5rem;
  }

  .scrollup_icon {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .show-scroll {
    bottom: 4rem;
  }
}

@media screen and (max-width: 350px) {
  .scrollup {
    right: 1rem;
  }
}

:root {
  --first-color: #ff4c61;
  --title-color: #353252;
  --text-color: #353441;
  --body-color: #f9f7fd;
  --container-color: #fff;
  --body-font: "Roboto", sans-serif;
  --h1-font-size: 1.8rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --shadow: 0px 5px 20px 0px #3d3b5678;
  --border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  :root {
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body, button, input, textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.7;
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--fonts-semibold);
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.grid {
  display: grid;
}

.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}

.section_title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 3.75rem;
  margin-left: .875rem;
  position: relative;
}

.section_title:before {
  content: " ";
  height: 2.25rem;
  width: 2.25rem;
  position: absolute;
  top: -.875rem;
  left: -.875rem;
}

.btn {
  color: #fff;
  background-color: var(--first-color);
  line-height: 1;
  font-weight: var(--font-bold);
  border: 1px solid #0000;
  border-radius: 1.875rem;
  padding: .75rem 2rem;
  display: inline-block;
  box-shadow: 0 0 1px #0000;
}

@keyframes button-push {
  50% {
    transform: scale(.8);
  }

  100% {
    transform: scale(1);
  }
}

.btn:hover {
  animation: .3s linear button-push;
}

/*# sourceMappingURL=index.css.map */
